<h1>Home</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @agencies.each do |agency| %>
    <h1> <%= agency.title %> </h1>
<% end %>

<% @projects.each do |projects| %>
  <h1> <%= project.title %> </h1>
<% end %>
