<!DOCTYPE html>
<html>
  <head>
    <title>Job</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
  </head>
  <body>
      <%= yield %>
  </body>
</html>